mixin journalItem(item)
  h3(style='margin-bottom:3px')
    a(href="#?collection="+item._id) #{item.name}

#headerBar

.Wrapper
  .Content
    div
      br
      div(align="center")
        font(size="+1")
          strong Journals
      for item in info.journals
        +journalItem(item)
