#headerBar

.Wrapper
  .Content
    #uploadView.viewMain
      h3 Manage Files
      p.
        This article will be assigned the following handle:
        Note that the handle will only be activated when the article is accepted for publication
        The purpose of this page is to upload the documents and datasets related to your article
        You can also upload a logo which will be shown on the article's page
      select#typeFile
        option
        option(value="THUMBNAIL") Thumbnail (Logo)
        option(value="SOURCECODE") Source Code
        option(value="PAPER") Paper
        option(value="DATA") Data
        option(value="MISC") Other
        option(value="GITHUB") Github Repository
        option(value="TECHNICAL") Major Technique paper for reference
        option(value="TESTING_SOURCECODE") Testing Code
      br
      br
      #uploadContentBlock
      #githubContentBlock(style="width:700px; display:none;")
        label
          | Set GitHub URL (for example: https://github.com/Girder/Girder)
        input#github(type="text", name="github", style="width:400px;")
        input#addGithub(type="button", value="Add")
      input#hiddenSourceLicense(type="hidden", value="0", name="source-license")
      input#hiddenSourceLicenseText(type="hidden", value="No License Specified", name="source-license-text")
      input#hiddenAttributionPolicy(type="hidden", value="0", name="attribution-policy")
      input#hiddenSendNotificationEmail(type="hidden", value="0", name="send-email")
      b Uploaded files
      br
      | I have the right to distribute these files
      table#uploadedFiles
        tbody
          tr
            th Name
            th Type
            th Action
        tbody#uploadTable
      br
      #uploadQuestions(style="display:none;")
        input#acceptRights.checkbox(type="checkbox", value=1)
        label(for="acceptRights", style='display:inline;').
          I certify that I have the right to distribute these files
        br
        input#acceptLicense.checkbox(type="checkbox", value=1)
        label(for="acceptLicense", style='display:inline;')
          | I certify that all source code files/repositories uploaded here are under
          select#licenseChoice
            option
            option(value="Apache 2.0") Apache 2.0
            option(value="Public Domain") Public Domain
            option(value="GPL") GPL (Any Version)
            option(value="LGPL") LGPL (Any Version)
            option(value="BSD") BSD
            option(value="Other") Other
          | license
        br
        label#otherLicenseInputLabel(for="otherLicenseInput", style='display:none;')
          | Enter 'Other' License:
        input#otherLicenseInput(name="source-license-text", type="text", style="display:none;")
        br
        input#acceptAttributionPolicy.checkbox(type="checkbox", value=1, style='display:none;')
        label#acceptAttributionPolicyLabel(for="acceptAttributionPolicy", style='display:none;')
          | I certify that I have read and followed the
          a(target="_blank", href="https://www.osehra.org/sites/default/files/TD-04-01_ContributedSoftwareAttributionPolicy.pdf") Contributed Software Attribution Policy
        br
        br
        if (user.attributes.admin )|| (newRevision)
          form#approvedUploadForm(method="POST", action="")
            input(type="submit", value='Publish >', name="finish", disabled="disabled")
            input#hiddenSourceLicense(type="hidden", value="0", name="source-license")
            input#hiddenSourceLicenseText(type="hidden", value="Other", name="source-license-text")
            input#hiddenAttributionPolicy(type="hidden", value="0", name="attribution-policy")
            input#hiddenSendNotificationEmail(type="hidden", value="0", name="send-email")
        unless (user.attributes.admin )|| (newRevision)
          form#curateduploadForm(method="POST", action="")
            input(type="submit", value='Submit for Approval >', name="finish", disabled="disabled")
            input#hiddenSourceLicense(type="hidden", value="0", name="source-license")
            input#hiddenSourceLicenseText(type="hidden", value="Other", name="source-license-text")
            input#hiddenAttributionPolicy(type="hidden", value="0", name="attribution-policy")
            input#hiddenSendNotificationEmail(type="hidden", value="0", name="send-email")
    .clear
    .Footer
