div(style="border: 3px solid black;")
  h2 #{info.name}
  pre #{info.description}
  h3(style="margin-bottom:0;")
  p
    b Issue End date:
    | #{info.meta.paperDue}
  input#closeDetails(type="button", value="Close")
j
