mixin journalItem(item)
  h3(style='margin-bottom:3px')
    a(href='#?query="collection":'+item._id + '') #{item.name}

#headerBar

.Wrapper
  .Content
    .viewMain
      h1 Journals
      for item in info.journals
        +journalItem(item)
