#newQuestion
  h3 #{type} Question
  form#addQuestionForm(action="", method="post")
    input(type="hidden", name="oldquestion")
    input(type="hidden", name="selectedtopic", value="")
    label(for="questiondescription") Question:
    textarea#questionText(style="width:270px;", name="questiondescription", required).
      #{text}
    label(for="questioncomment") Allow comments:
    input(type="checkbox", checked="checked", name="questioncomment", value="1")
    label(for="questionattachfile") Allow file attachments:
    input(type="checkbox", checked="checked", name="questionattachfile", value="1")
    if type === "Edit"
      button#updateList
        i.material-icons(title="Update Question") save
      button#cancelNewList
        i.material-icons(title="Cancel Editing Question") cancel
    else
      button(type="submit", value="Save")
        i.material-icons(title="Save Question") save
      button#cancelNewList
        i.material-icons(title="Cancel Creating Question") cancel
