#newQuestion
  h3 #{type} Question
  form#addQuestionForm(action="", method="post")
    input(type="hidden", name="oldquestion")
    input(type="hidden", name="selectedtopic", value="")
    label(for="questiondescription") Question:
    textarea#questionText(style="width:270px;", name="questiondescription").
      #{text}
    label(for="questioncomment") Allow comments:
    input(type="checkbox", checked="checked", name="questioncomment", value="1")
    label(for="questionattachfile") Allow file attachments:
    input(type="checkbox", checked="checked", name="questionattachfile", value="1")
    if type === "Edit"
      input#updateQuestion(type="button", value="Update")
      input#cancelNewList(type="button", value="Cancel")
      input#deleteList(type="button", value="Delete")

    else
      input(type="submit", value="Save")
      input#cancelNewList(type="button", value="Cancel")
      input#deleteList(type="button", value="Delete")
