#newTopic
  h3 #{type} Topic
  form#addTopicForm(action="", method="post")
    input(type="hidden", name="oldtopic")
    input(type="hidden", name="selectedlist", value="")
    label(for="topicname") Name:
    textarea#topicText(style="width:270px;", name="topicname", required).
      #{text}
    label(for="topicdescription") Description:
    textarea(style="width:270px;", name="topicdescription").
      #{description}
    if type === "Edit"
      button#updateTopic
        i.material-icons(title="Update Topic") save
      button#cancelNewList
        i.material-icons(title="Cancel Editing Topic") cancel
    else
      button(type="submit", value="Save")
        i.material-icons(title="Save Topic") save
      button#cancelNewList
        i.material-icons(title="Cancel Creating Topic") cancel
