mixin catEntry(val)
  li.filterEntry
    input.filterOption(val=val, type="checkbox")
    a.dynatree-title #{val}

.treeEntry
  img.toggleButton
  h4 #{catName}
  #categoryTree--1.categoryTree
    ul.dynatree-container
      for val in values
        +catEntry(val)
