mixin catEntry(val)
  li.filterEntry
    input.filterOption(val=val, type="checkbox")
    a.dynatree-title #{val}

.treeEntry
  h4 #{catName}
  .categoryTree
    ul.dynatree-container
      for val in values
        +catEntry(val)
