mixin issueFilter(info)
  .issueButton(key=info._id)
    .issueTitle(qtipconditional="", style="word-wrap: break-word")
      | #{info.name}
    .issueSubTitle
    .issueDetails
      a.issuePage(href='') Show Details
      a(href="") Submit a new article
#headerBar

.Wrapper
  .Content
    .ContentWithLeftPanel
      .Panel.box
        img#searchLoadingImg(src=loadingImg)
        h2.FilterH3 Filters:
        #FiltersPanel
          #treeWrapper
          .issueButton(key="*")
            .issueTitle(qtipconditional="All", style="word-wrap: break-word")
              | All Issues
          for item in info.issues
            +issueFilter(item)
      .MainContent
        #infoElement
        #noResultElement(style="display:none;")
          b.
            Your search did not match any items.
        .SearchResultsHeader
        .searchResults
        #showMoreResults
          a.
            Show more results
