.treeEntry
  h4 Code
  .categoryTree
    ul.dynatree-container
      li.filterEntry
        input.filterOption(val="has_test_code", type="checkbox")
        a.dynatree-title(href="#") has_test_code
      li.filterEntry
        input.filterOption(val="has_code", type="checkbox")
        a.dynatree-title(href="#") has_code
