- var md5 = require('md5');

.treeEntry
  h4 License
  .categoryTree
    ul.dynatree-container
      for license in ["Apache 2.0", "Public Domain", "GPL", "LGPL", "BSD", "Other"]
        li.filterEntry
          - var hash = md5('license' + license);
          label.dynatree-title(for=hash)
            input.License.filterOption(val=license, id=hash, type="checkbox")
            | #{license}
