.treeEntry
  h4 License
  .categoryTree
    ul.dynatree-container
      li.filterEntry
        input.filterOption(val="Apache 2.0", type="checkbox")
        a.dynatree-title(href="#") Apache 2.0
      li.filterEntry
        input.filterOption(val="Public Domain", type="checkbox")
        a.dynatree-title(href="#") Public Domain
      li.filterEntry
        input.filterOption(val="GPL", type="checkbox")
        a.dynatree-title(href="#") GPL
      li.filterEntry
        input.filterOption(val="LGPL", type="checkbox")
        a.dynatree-title(href="#") LGPL
      li.filterEntry
        input.filterOption(val="BSD", type="checkbox")
        a.dynatree-title(href="#") BSD
      li.filterEntry
        input.filterOption(val="Other", type="checkbox")
        a.dynatree-title(href="#") Other
