.treeEntry
  h4 OSEHRA VistA
  .categoryTree
    ul.dynatree-container
      li.filterEntry
        input.filterOption(val="core", type="checkbox")
        a.dynatree-title(href="#") Core
      li.filterEntry
        input.filterOption(val="certified", type="checkbox")
        a.dynatree-title(href="#") Certified Component
