.treeEntry
  h4 Certified
  .categoryTree
    ul.dynatree-container
      li.filterEntry
        input.filterOption(val="1", type="checkbox")
        a.dynatree-title(href="#") Level 1
      li.filterEntry
        input.filterOption(val="2", type="checkbox")
        a.dynatree-title(href="#") Level 2
      li.filterEntry
        input.filterOption(val="3", type="checkbox")
        a.dynatree-title(href="#") Level 3
      li.filterEntry
        input.filterOption(val="4", type="checkbox")
        a.dynatree-title(href="#") Level 4
