#g-group-terms.form-group.conditionBlock
  label(for="conditions")
    | I have read and accept the
  a.termOfService Terms of Service
  input(type="checkbox", name="conditions", value="1", required)
  span
  .terms
