.ContentWithRightPanel
  .Panel
    h4 Resources
      ul
        li
          a.
           Download
    h4 Export citation:
      ul
        li
          form#form1(action="", method="post", name="form1")
            select (name="exportType")
              option(value="bibtex").
                Bibtex
              option(value="xml").
                XML
            input(type="submit", value="Export")
      h4 Statistics
      ul
        li.
          Views
        li.
          Aggregate Downloads
      #ratingContainer
      h4 Information
