#announcement-banner.alertHeader
.TopDynamicBar(style="display:none;")
  .dumbBoxOverlay
  .vertical-offset
    .dumbBox
      .TopDynamicClose
        a.closeButton(onclick="$('.TopDynamicBar').hide();", href="#")
          span
            img(alt="", src="/journal/core/public/images/icons/close.png")
      .TopDynamicContent
      .TopDynamicLoading
        img(alt="", src="/journal/core/public/images/icons/loading.gif")
      input.DynamicContentPage(type="hidden")
.MainDialog(style="display:none;")
  .MainDialogContent
  .MainDialogLoading
    img(alt="", src="/journal/core/public/images/icons/loading.gif")
  input.DialogContentPage(type="hidden")

.Header
  .HeaderTopContent.panelsBackground
    #menu
      #topmenu
        a(style='border:none;', href="#")
          img(style='border:none;', src="http://osehra.org/profiles/drupal_commons/themes/commons_osehra_earth/images/logo.png", alt="logo", height="50")
      #title.
        OSEHRA Technical Journal
      #toplogin
        #loginForm
          unless user
            a(href='#?dialog=login') Sign In
          if user
            |Welcome #{user.name()}!
            a#logout Log out
      br
      div(style="position:absolute;right:0px;")
        div(style="position:relative;top:7px;left:-8px;font-size:11px;color:white;")
          a(href="#help/about")
            | About
          unless user
            a#forgotPasswordLink(style="margin-left: 7px;padding-left: 7px;border-left: 1px solid grey;", href='#?dialog=resetpassword')
              | Forgot your password
            a.register(style="margin-left: 7px;padding-left: 7px;border-left: 1px solid grey;", href="#?dialog=register")
              | Register
            a(style="margin-left: 7px;padding-left: 7px;border-left: 1px solid grey;", href='/journal/googleoauth/user/login')
              | Sign in with your Google Account
              img(style="top:-2px;border:none;position:relative;", src="/journal/privateModules/journal/public/images/google_icon.png")

    #topbar
      ul#Nav.nav.navbar-nav
        li#browseLink
          a(href="#")
            | Home
        li
          a(href="#journals")
            | Journal
        li
          a(href='#submission/new')
            | New Publication
        if user
          li#profileLink
            a(href='/#user/' + user.id) My Profile
            #userOptionsDiv
              ul#userOptionsList
                li
                  // TODO: implement this route
                  a.submm(href='#?query="creatorId":"'+user.id+'"') My Publications
                li
                  a.submm(href='/#useraccount/' + user.id + '/info') Edit Profile
          if user.attributes.admin
            li#adminLink
              a(href="") Admin
              #adminOptionsDiv
                ul#adminOptionsList
                  li
                    a.submm(href='#plugins/journal/admin') Journals
                  li
                    a.submm(href='/#users') Users
                  li
                    a.submm(href='#admin/categories').
                      Categories
                  li
                    a.submm(href='#plugins/journal/admin/disclaimer') Disclaimers
                  li
                    a.submm(href='#plugins/journal/admin/help') Help & About
                  li
                    a.submm(href='/#plugins/tech_journal/config') Config
                  li
                    .submm.
                      Review Questions
        li#helpLink
          a(href="#help")
            | Help
          #helpOptions
            ul#helpOptionsList
              li
                a.submm(style="width:160px;", href="#help")
                  | Submission and Review
              li
                a.submm(style="width:160px;", href="#help/faq")
                  | F.A.Q.
              li
                a.submm(style="width:160px;", href="#plugins/journal/help/feedback")
                  | Feedback
        if user
          if user.attributes.admin
            if (approvalNum > 0)
              li
                a(href="#plugins/journal/approval", style="color:orange;")
                  | Waiting Approval : #{approvalNum}

      .HeaderSearch.nav.navbar-nav.navbar-right
        input#live_search.panelsBackground(type="text", value=searchVal, autocomplete="off", autocorrect="off", autocapitalize="off")
        input#live_search_value(type="hidden", value="init")
        #searchloading(style="display:none")
        input#search_button(type="button", value="Search")
        input#clear_button(type="button", value="Clear")
    .HeaderAction
      .viewNoticeWrapper
        .viewNotice
