#headerBar

.Wrapper
  .Content
    .Content
      div(align="center")
        font(size="+1")
          strong Send Feedback
      br
      form#form1(data-validate="parsley", name="form1", method="post", action="")
        table(width="70%", border="0")
          tbody
            tr
              td
                .submission
                  .title
                    span.style1 *
                    | Your e-mail address
                  .caption(style="width:100%;")
            tr
              td
                input#Title.textbox.parsley-validated(value="", required, data-type="email", size='65', name='email')
            tr
              td
                .submission
                  .title
                    | Location of the problem
                  .caption(style="width:100%;")
                    | Give an address (URL) if possible
            tr
              td
                input#Where.textbox.parsley-validated(value="", size='65', name='where')
            tr
              td
                .submission
                  .title
                    span.style1 *
                    | What is the problem?
                  .caption(style="width:100%;")
                    | Please be as specific as possible in your report
            tr
              td
                textarea#Summary.textbox.parsley-validated(value="", required, style='width: 280px;', name='what')
            tr
              td
                div(align='right')
                  input#submit(type="submit", value="Send Feedback >>>", name="submit")
