mixin searchEntry(info,approveLink)
  div(class="SearchResultEntry box")
    table(style="width:99%;")
      tr
        td(style="width:100px;height:98px;vertical-align: middle;text-align: center;")
          //img(class="ResultLogo" src="/journal/journal/view/logo/?revisionId=id&size=64")
          //img(class="ResultLogo" src="/journal/privateModules/journal/public/images/journal.gif")
          div( class="CertifiedWrapper")
            //img(style='border:none;' src="/journal/privateModules/journal/public/images/check.gif")
            Certified
            span(class="CertifiedLevel" style="color:green")
        td( style="vertical-align: top;")
          div(class="ResultSubDescription")
                statistics
          div( class="ResultTop")
            if approveLink
              a(class="resourceLink" href="#plugins/journal/submission/"+ info.currentRevision._id+"/approve")
            else
              a(class="resourceLink" href="#plugins/journal/view/"+ info.currentRevision._id)
            span(class="ResultTitle").
              #{info.name}
          div(class="ResultAuthors").
            #{info.meta.authors}
          div( class="ResultDescription").
            #{info.description}

each item in info.submissions
  +searchEntry(item,info.approveLink)
