div#headerBar
div(class="Wrapper")
  div(class="Content")
    div#downloadContent
      h3 Download
      a(href="#plugins/journal/view/"+parent) Back to article
      br
      br
      ul
        if paperDownloadUrl
          li
            a#paperDownload(href=paperDownloadUrl) Download Paper
        li
          a#fullDownload(href=parentDownloadUrl) Download All
