#headerBar
.Wrapper
  .Content
    div
      br
      div(align="center")
        font(size="+1")
          strong Manage Journal and Issues
      br
      a.createCommunity(href="#plugins/journal/admin/journal/new") Create Journal
      h4 Journals (also called communities):
      ul#journalListing
