mixin AuthorEntry(name)
  .list-item
    input.parsley-validated(required, value=name[0], placeholder="Firstname", style="width:150px;", name="firstname[0].a")
    input.parsley-validated(required, value=name[1], placeholder="Lastname", style="width:150px;", name="lastname[0].b")
    a#removeAuthor.list-remove Remove

if info.info.meta
  for author in info.info.meta.authors
    +AuthorEntry(author.split(' '))
else
  +AuthorEntry(["",""])
