div#announcement-banner(class="alertHeader")
div(class="TopDynamicBar" style="display:none;")
  div(class="dumbBoxOverlay")
  div( class="vertical-offset")
    div(class="dumbBox")
      div(class="TopDynamicClose")
        a(class="closeButton" onclick="$('.TopDynamicBar').hide();" href="#")
          span
            img( alt="" src="/journal/core/public/images/icons/close.png")
      div(class="TopDynamicContent")
      div(class="TopDynamicLoading")
        img( alt="" src="/journal/core/public/images/icons/loading.gif")
      input( type="hidden" class="DynamicContentPage")
div(class="MainDialog" style="display:none;")
  div(class="MainDialogContent")
  div(class="MainDialogLoading")
    img(alt="" src="/journal/core/public/images/icons/loading.gif")
  input(type="hidden" class="DialogContentPage")

div(class="Header")
  div(class="HeaderTopContent panelsBackground")
    div#menu
      div#topmenu
        a( style='border:none;' href="#plugins/journal")
          img( style='border:none;' src="http://osehra.org/profiles/drupal_commons/themes/commons_osehra_earth/images/logo.png" alt="logo" height="50")
      div#title.
        OSEHRA Technical Journal
      div#toplogin
        div#loginForm
          unless user
              a(href='#plugins/journal?dialog=login') Sign In
          if user
              |Welcome #{user.name()}!
              a#logout Log out
      br/
      div( style="position:absolute;right:0px;")
        div( style="position:relative;top:7px;left:-8px;font-size:11px;color:white;")
          a( href="/journal/journal/help/about")
            | About
          unless user
            a#forgotPasswordLink(style="margin-left: 7px;padding-left: 7px;border-left: 1px solid grey;" href='#plugins/journal?dialog=resetpassword')
              | Forgot your password
            a(style="margin-left: 7px;padding-left: 7px;border-left: 1px solid grey;" href="#plugins/journal?dialog=register" class="register")
              | Register
            a(style="margin-left: 7px;padding-left: 7px;border-left: 1px solid grey;"  href='/journal/googleoauth/user/login')
             | Sign in with your Google Account
             img(style="top:-2px;border:none;position:relative;" src="/journal/privateModules/journal/public/images/google_icon.png")

    div#topbar
      ul#Nav(class="nav navbar-nav")
        li#browseLink
          a(href="#plugins/journal")
            | Home
        li
          a(href="#plugins/journal/list")
            | Journal
        li
          a(href='#plugins/journal/submission/new')
            | New Publication
        if user
          li
            a#profileLink(href='') My Profile
            div#userOptionsDiv
              ul#userOptionsList
                li
                  a(class="submm" href='#plugins/journal?query="creatorId":"'+user.id+'"') My Publications
                li
                  a(class="submm" href='') Edit Profile
          if user.attributes.admin
            li
              a#adminLink(href="") Admin
              div#adminOptionsDiv
                ul#adminOptionsList
                  li
                    a(class="submm" href='#plugins/journal/admin') Journals
                  li
                    a(class="submm" href='') Users
                  li
                    a(class="submm" href='') Categories
                  li
                    a(class="submm" href='') Disclaimers
                  li
                    a(class="submm" href='') Help & About
                  li
                    a(class="submm" href='') Config
                  li
                    a(class="submm" href='') Review Questions
        li
          a(href="/journal/journal/help")
            | Help
          ul
            li
              a( class="submm"  style="width:160px;"  href="/journal/journal/help")
                | Submission and Review
            li
              a( class="submm" style="width:160px;" href="/journal/journal/help/faq")
                | F.A.Q.
            li
              a( class="submm"  style="width:160px;" href="/journal/journal/help/feedback")
                | Feedback
      div(class="HeaderSearch nav navbar-nav navbar-right")

        input#live_search(type="text" class="panelsBackground" value=searchVal autocomplete="off" autocorrect="off" autocapitalize="off")
        input#live_search_value( type="hidden" value="init")
        div#searchloading( style="display:none")
        input#search_button(type="button" class="" value="Search")
        input#clear_button(type="button" class="" value="Clear")
    div(class="HeaderAction")
      div(class="viewNoticeWrapper")
        div(class="viewNotice")
