mixin searchEntry(info)
  div(class="SearchResultEntry box")
    table(style="width:99%;")
      tr
        td(style="width:100px;height:98px;vertical-align: middle;text-align: center;")
          //img(class="ResultLogo" src="/journal/journal/view/logo/?revisionId=id&size=64")
          //img(class="ResultLogo" src="/journal/privateModules/journal/public/images/journal.gif")
          div( class="CertifiedWrapper")
            //img(style='border:none;' src="/journal/privateModules/journal/public/images/check.gif")
            Certified
            span(class="CertifiedLevel" style="color:green")
        td( style="vertical-align: top;")
          div(class="ResultSubDescription")
                statistics
          div( class="ResultTop")
            a(class="resourceLink" href="#plugins/journal/view/"+ info._id)
            span(class="ResultTitle").
              #{info.name}
          div(class="ResultAuthors").
            #{info.creatorId}
          div( class="ResultDescription").
            #{info.description}

div#headerBar

div(class="Wrapper")
  div(class="Content")
    div(class="ContentWithLeftPanel")
      div(class="Panel box")
      div(class="MainContent")
        div#noResultElement(style="display:none;")
          b
            Your search did not match any items.
        div#infoElement
          br
          span(style="font-weight:bold")
          |  The OSEHRA Technical Journal
          |  is an Open Access, on-line publication
          |  covering technical topics related to open source software for management
          |  of electronic health records. The goal of the Journal is to foster innovation
          |  and to channel this innovation in the form of concrete working pieces of
          |  software that can later be integrated into the OSEHRA open source platform.
          br
          div(class="hidable")
        div(class="SearchResultsHeader")
        div(class="searchResults")
          each item in info
            +searchEntry(item)
        div#showMoreResults
          a
            Show more results
