mixin AuthorEntry(name)
  div(class="list-item")
    input(class="parsley-validated" required value=name[0]
          placeholder="Firstname" style="width:150px;" name="firstname[0].a")
    input(class="parsley-validated" required value=name[1]
          placeholder="Lastname" style="width:150px;" name="lastname[0].b")
    a#removeAuthor(class="list-remove") Remove

if info.info.meta
    for author in info.info.meta.authors
      +AuthorEntry(author.split(' '))
else
    +AuthorEntry(["",""])
