mixin entryItem(tag)
  .list-item
    input.parsley-validated(required, value=tag, placeholder="Tag", style="width:150px;", name="tag[0].tag")
    a#removeTag.list-remove Remove

if info.info.meta
  for tag in info.info.meta.tags
    +entryItem(tag)
else
  +entryItem("")
