mixin entryItem(tag)
    div(class="list-item")
      input(class="parsley-validated" data-reqired="true" value=tag
             placeholder="Tag" style="width:150px;" name="tag[0].tag")
      a#removeTag(class="list-remove") Remove

if info.info.meta
    for tag in info.info.meta.tags
      +entryItem(tag)
else
    +entryItem("")
