#headerBar

.Wrapper
  .Content
    .viewMain
      div(align="center")
        font(size="+1")
          strong
            | Articles waiting for Approval
      br
      br
      .ContentWithLeftPanel
        .MainContent(style="margin-left:0px;")
          .SearchResultsHeader
          .SearchResults
