
#headerBar
.Wrapper
  .Content
    .viewMain
      h1 Edit Help
      form#mainForm(data-validate="parsley", name="mainForm", method="POST", action="", style="margin-top: 20px; display:block;")
        table(width="100%", border="0")
          tbody
            tr
              td(valign="top", style="width: 100px;")
                div(align="right")
                  strong Help Main Page:
              td
                #mainPage(style="height:200px")
            tr
              td(valign="top")
                div(align="right")
                  strong FAQ Page:
              td
                #faqPage.textDiv(style="height:200px")
            tr
              td(valign="top")
                div(align="right")
                  strong About Page:
              td
                #aboutPage.textDiv(style="height:200px")
            tr
              td
              td
                input(type="submit", value="Save >>>")
