mixin searchEntry(info)
  .SearchResultEntry.box
    table(style="width:99%;")
      tr
        td(style="width:100px;height:98px;vertical-align: middle;text-align: center;")
          //img(class="ResultLogo" src="/journal/journal/view/logo/?revisionId=id&size=64")
          //img(class="ResultLogo" src="/journal/privateModules/journal/public/images/journal.gif")
          .CertifiedWrapper.
            //img(style='border:none;' src="/journal/privateModules/journal/public/images/check.gif")
            Certified
            span.CertifiedLevel(style="color:green")
        td(style="vertical-align: top;")
          .ResultSubDescription.
                statistics
          .ResultTop
            a.resourceLink(href="#plugins/journal/view/"+ info._id)
            span.ResultTitle.
              #{info.name}
          .ResultAuthors.
            #{info.creatorId}
          .ResultDescription.
            #{info.description}

each item in info.submissions
  +searchEntry(item)
