#headerBar
.Wrapper
  .Content
    .viewMain
      h3 Manage Categories
      #treeWrapper
      br
      br
      b Add a new Tree
      form#addTree
        input#newTreeName(type="text", name="newTree")
        input(type="submit", value="Save")
