
h3.FilterH3
  margin-top 5px
  margin-bottom 0

.box
  margin-right 10px
  border-bottom 1px dotted #E4E4E4
  border-right 1px dotted #eeeeee

span.dynatree-icon
  display none!important

ul.dynatree-container
  li
    line-height 14px!important
  border none!important
  padding 0!important

#treeWrapper
  height auto !important
  margin-bottom 20px

div.treeEntry
  overflow hidden
  h4
    margin 0
    outline none
    padding 7px 10px !important
    background lighten(#4a4a4a, 10%)
    &:after
      content "\25BC"
      display block
      float right
      font-size 9px
      margin-top 5px
  &.open
    height auto !important
    h4
      background lighten(#4a4a4a, 90%)
      color darken(white, 70%)
      &:after
        content "\25B2"
.categoryTree
  margin-bottom 15px
  label
    font-weight normal

  img.tooggleButton
    position absolute
    height 20px
    cursor pointer
    padding-left 170px

div.issueButton
  background white
  border-radius 3px
  height auto
  margin 7px 5px
  cursor pointer
  background rgb(255, 255, 255) /* Old browsers */

  &:hover
    background #eee


div.issueDetails
  position relative
  top -3px
  display none


div.issueSelected
  border-left 6px solid lighten($primaryColor, 50%)


div.issueTitle
  height 100%
  color black
  font-size 12px
  position relative
  display flex
  align-items center
  padding 4px 15px

div.issueSubTitle
  font-size 10px
  color grey
  position relative
  top -6px

div.issueActive
  color black!important





img#searchLoadingImg
  display none
  float right
  margin-top 5px
  margin-right 5px


div.SearchResultsHeader
  position relative


div.SearchResultsSort
  height 20px
  margin-bottom 5px
  width 896px


span.FilterTip
  position absolute
  right 0
  top 5px



/* Search Result template*/



div#infoElement
  height 90px
  min-width 450px
  overflow-x hidden
  overflow-y hidden
  -webkit-box-shadow #AAA 0 0 3px
  box-shadow #AAA 0 0 3px
  -moz-box-shadow 0 0 3px #AAA
  opacity 1
  padding-left 10px
  padding-right 15px
  margin-bottom 5px
  margin-right 10px
  text-align justify
  text-justify inter-word
  &:hover
    overflow-y scroll




div.SearchResultEntry
  max-width 880px
  height 97px
  margin-left 5px
  position relative
  overflow hidden
  line-height 16px
  opacity 0.8


  &:hover
    background #FBFBFB /*Glow*/
    -webkit-box-shadow #AAA 0 0 3px
    box-shadow #AAA 0 0 3px
    -moz-box-shadow 0 0 3px #AAA
    opacity 1

  td
    position relative


  img.ResultLogo
    height 63px
    width 63px
    -webkit-box-shadow 0 5px 10px rgba(0, 0, 0, 0.2)
    -moz-box-shadow 0 5px 10px rgba(0, 0, 0, 0.2)
    -o-box-shadow 0 5px 10px rgba(0, 0, 0, 0.2)
    box-shadow 0 5px 10px rgba(0, 0, 0, 0.2)
    margin-top 0
    margin-right auto
    margin-left auto
    margin-bottom 0

  .CertifiedWrapper
    font-size 10px
    color #333
    display inline-block

    img
      width 8px
      height 8px
      position relative
      top -1px

  span.ResultTitle
    font-size 14px
    color #333
    font-weight bold

  div.ResultLicense
    float right
    color #333
    font-size 13px
    font-weight bold

  div.ResultAuthors
    color lighten(desaturate($primaryColor, 10%), 20%)
    font-size 12px
    font-weight bold

  div.ResultDescription
    height 61px
    margin-top 3px
    line-height 16px
    font-size 12px
    text-align justify
    text-overflow ellipsis
    text-justify inter-word

  div.ResultSubDescription
    float right
    color grey
    font-size 10px
    margin-left 10px
    position relative
    top 1px

  a.resourceLink
    position absolute
    z-index 50
    width 896px
    border none
    height 97px
