div#questionListWrapper
  border  1px dotted #ccc


div.topicElement
  border   1px dotted #E4E4E4
  margin   5px
  font-weight   bold


img.iconForm
  border  none
  width  14px  height  14px
  position  relative
  top  -2px


div.reviewWrapper
  margin   5x
  padding   5px
  border   1px solid #ccc

  a
    color  #005DAA


table.reviewTable
  width  100%
  color  #666
  text-shadow   1px 1px 0 #fff
  background  #eaebec
  border  #ccc 1px solid
  -moz-box-shadow   0 1px 2px #d1d1d1
  -webkit-box-shadow   0 1px 2px #d1d1d1
  box-shadow   0 1px 2px #d1d1d1

  th
    padding  3px
    border-top  1px solid #e0e0e0
    border-bottom  1px solid #e0e0e0
    color  #666
    background   #ededed
    background   -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb))
    background   -moz-linear-gradient(top,  #ededed,  #ebebeb)

table.reviewTable
  width  100%
  color  #666
  text-shadow   1px 1px 0 #fff
  background  #eaebec
  border  #ccc 1px solid
  -moz-box-shadow   0 1px 2px #d1d1d1
  -webkit-box-shadow   0 1px 2px #d1d1d1
  box-shadow   0 1px 2px #d1d1d1

  tr
    text-align   center

  input
    margin   0

  progress
    width   100%

  td
    padding  2px
    border-top   1px solid #ffffff
    border-bottom  1px solid #e0e0e0
    border-left   1px solid #e0e0e0

    background   #fafafa
    background   -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa))
    background   -moz-linear-gradient(top,  #fbfbfb,  #fafafa)

table.reviewTable tr.even td
  background   #f6f6f6
  background   -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6))
  background   -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6)


table.reviewTable tr  hover td
  background   #f2f2f2
  background   -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0))
  background   -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0)


div#reviewWrapper
  border  1px dotted #ccc


.hiddenReview
  display  none


div#reviewWrapper
  border  1px dotted #ccc


div#certificationWrapper
  align-content  center

td#tdLeftPanel
  vertical-align   top
  width  350px
  height  550px
  border-right  1px dotted #ccc


  div#divLeftPanel
    margin-right   5px
    margin-left   5px

td#tdRightPanel
  vertical-align   top
  width   735px
  height  550px

  div#divRightPanel
    margin-left   5px
    overflow-y  auto
    overflow-x  hidden
    height  550px


div.questionWrapper
  display  none

div.questionElement
  border  1px dotted #ccc
  height   95px


.selectMultipleWrapper
  float  right
  display  inline-block
  vertical-align  top
  overflow  hidden
  border  solid #ccc 1px

  select
    padding  10px
    margin  -5px -20px -5px -5px

#globalComment
  width  100%
  height  50px


.questionElement textarea
  width  100%
  height  15px


div.commentWrapper
  width  85%

  textarea
    width 100%


div.uploadWrapper
  width  85%

  table
    width  100%

.questionDescription
  font-size   14px


table#summaryTable
  width  100%
  color  #666
  text-shadow   1px 1px 0 #fff
  background  #eaebec
  border  #ccc 1px solid
  -moz-box-shadow   0 1px 2px #d1d1d1
  -webkit-box-shadow   0 1px 2px #d1d1d1
  box-shadow   0 1px 2px #d1d1d1
  th
    padding  3px
    border-top  1px solid #e0e0e0
    border-bottom  1px solid #e0e0e0
    color  #666
    background   #ededed
    background   -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb))
    background   -moz-linear-gradient(top,  #ededed,  #ebebeb)
  tr
    text-align   center
  input
    margin   0

  progress
    width   100%


  td
    padding  2px
    border-top   1px solid #ffffff
    border-bottom  1px solid #e0e0e0
    border-left   1px solid #e0e0e0

    background   #fafafa
    background   -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa))
    background   -moz-linear-gradient(top,  #fbfbfb,  #fafafa)

  tr.even td
    background   #f6f6f6
    background   -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6))
    background   -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6)


  tr  hover td
    background   #f2f2f2
    background   -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0))
    background   -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0)


table#certificationTable
  width  100%
  color  #666
  background  #eaebec
  border  #ccc 1px solid
  -moz-box-shadow   0 1px 2px #d1d1d1
  -webkit-box-shadow   0 1px 2px #d1d1d1
  box-shadow   0 1px 2px #d1d1d1
  th
    padding  3px
    border-top  1px solid #e0e0e0
    border-bottom  1px solid #e0e0e0
    background   $primaryColor
    background   -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb))
    background   -moz-linear-gradient(top,  #ededed,  #ebebeb)
  #levelInfo
    padding  3px
    border-top  1px solid #e0e0e0
    border-bottom  1px solid #e0e0e0

    background   #ededed
    background   -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb))
    background   -moz-linear-gradient(top,  #ededed,  #ebebeb)

  tr
    text-align   center


  td
    padding  2px
    border-top   1px solid #ffffff
    border-bottom  1px solid #e0e0e0
    border-left   1px solid #e0e0e0

    background   #fafafa
    background   -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa))
    background   -moz-linear-gradient(top,  #fbfbfb,  #fafafa)
    font-size  12px


  tr.even td
    background   #f6f6f6
    background   -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6))
    background   -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6)
    font-size  12px
