
#headerBar
.Wrapper
  .Content
    .viewMain
      h1 Edit Disclaimers
      select#disclaimerChoice
        option(val="new") New Disclaimer
      .discEdit
        form#mainForm(data-validate="parsley", name="mainForm", method="POST", action="")
          label(for="discName") Disclaimer Name:
          textarea#discName.smallInput(name=discName)
          div
            label#disclaimerName Disclaimer Text:
            #mainPage(style="height:auto;")
          input(type="submit", value="Save >>>")
